SPRING_PROFILES_ACTIVE=local
DB_URL=jdbc:postgresql://localhost:5432/alexandria
DB_USERNAME=postgres
DB_PASSWORD=300903tmb
JWT_SECRET=troque_por_uma_chave_forte
FRONTEND_URL=http://localhost:5173
GOOGLE_BOOKS_URL=https://www.googleapis.com/books/v1/volumes
GOOGLE_BOOKS_API_KEY=sua_chave_aqui
GOOGLE_BOOKS_LANG=pt
GOOGLE_BOOKS_COUNTRY=BR
